<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Python310\python.exe|C:\Python310\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\OFFICE-TOOLS" />
    <add key="WSGI_HANDLER" value="config.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings" />
    <add key="DJANGO_DEBUG" value="False" />
    <!-- Database Configuration -->
    <add key="DB_NAME" value="office_tools_db" />
    <add key="DB_USER" value="postgres" />
    <add key="DB_PASSWORD" value="YourStrongPasswordHere" />
    <add key="DB_HOST" value="localhost" />
    <add key="DB_PORT" value="5432" />
  </appSettings>
</configuration>
